@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --dark-teal:#001A1A;
    --primary-l1: #80C0C0;
    --primary-l2:#4DA6A6;
    --primary-d2: #005a5a;
    --primary-d3: #004d4d;
    --primary-d4: #004040;
    --primary-d5: #003333;
    --primary-d6: #002626;
  }
  

body{
    font-family: 'Roboto Slab', serif;
    background-image: url('./media/images/stacked-peaks-haikei.svg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
    width: 100%;
  min-height: 100vh;
}
::-webkit-scrollbar {
    display: none;
  }

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.Navigation{
    margin-right: 20px !important;
    margin-top: 20px !important;
    align-items: center;
    color: #fff;
    direction: rtl;
}
.Navigatior{
    font-weight: bolder;
    font-size: 32px;
    color: var(--primary-l1) !important;
    border: 2px solid var(--primary-l1) !important;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  
}
.Navigatior:hover {
    cursor: pointer;
  }
.ListItem{
    width: 60px;
    height: 60px;
    background-color: var(--primary-l1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-teal);
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    font-size: 28px;
    text-decoration: none !important;
}
.ListItem:hover{
    cursor: pointer;
}
.l-i{
    text-decoration: none !important;
    color: black;
}
.canvas-header{
    color: #F7D716 !important;
    background-color: #F7D716;
}
.n-l{
    background-color: #293462;
    color:#F7D716;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
.n-l:hover {
    color: whitesmoke;
    text-decoration:underline whitesmoke ;
}
.n-l > .active {
    color: whitesmoke;
    text-decoration:underline whitesmoke ;
}
.Intro-box{
    background-color: var(--primary-d6);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
    box-shadow:5px 5px 25px var(--primary-l2) ;
    display: flex;
    align-items: center;
    justify-content:center;
}
.Intro-box h1{
    font-size:64px;
    color: whitesmoke;
    letter-spacing: 8px;

}
.Intro-box p{
    font-size:28px;
    color: whitesmoke;
}
.Intro-box img{
    height:500px;
    border: 5px solid var(--primary-d3);
    max-width: 450px;
}

.About-me{
    display: flex;
    color: whitesmoke;
    font-size: 20px;
}
.About-me img{
    width:500px;
    height:500px;
}

.skills ,.contactme{
    font-size: 20px;
    background-color: var(--dark-teal);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.p-c{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.8px);
-webkit-backdrop-filter: blur(9.8px);
border: 1px solid rgba(255, 255, 255, 1);
}

.dropdown{
    width: 50% !important;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-media-links{
    text-decoration: none;
    color:whitesmoke;
    padding: 0px 0px;
    font-size: 35px;
}
.social-media-links :hover{
    text-decoration: none;
    color:var(--primary-l1);
}

.m-l{
    font-size: 35px;
}
.footer {
    padding-top: 20px;
}
.skill-single{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.skill-box{
    display: flex !important;
    justify-content: space-between;
}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.skill-item p{
    font-size: 16px;
}
.bar{
    width: 90%;
    height: 6px;
    background: #fff;
    border-radius: 5px;
}
.bar-inner{
    width: 0%;
    height: 6px;
    line-height: 6px;
    
    background: linear-gradient(to right,var(--primary-l2),var(--primary-l1));
    border-radius: 5px;
}
.bar-value{
    font-size: 20px;
    font-weight: bolder;
}
.pro-card:hover{
    transform: scale(1.08);
    transition: ease 0.5s;
    box-shadow:0px 0px 20px 1px var(--primary-l2) ;;
}
.box{
    height:200px;
    width:150px;
    background-color:var(--primary-d6);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;;
    z-index: 5;
}
.box:hover{
    transform:translateY(-10px);
    transition: all .5s ease-in-out;
    border-bottom: 5px solid var(--primary-l2);
    border-color: solid var(--primary-l2);
    color: solid var(--primary-l2);
}

.box h1{
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    padding:30px 0px 0px 0px;
}
.box p{
    font-style: italic;
    text-align: center;
}
.set-box-row{
    margin-top: 30px !important;
}
.set-box-col{
    margin-left: 50px !important;
}
.abt-mob{
    padding-left: 60px !important;
}


.container-contact {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.contact {
    margin-top: 45px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.form .form-txt {
    flex-basis: 48%;
}

.form .form-txt h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: var(--light-black);
}

.form .form-txt span {
    color: var(--light-black);
    font-size: 18px;
}

.form .form-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: var(--light-black);
}

.form .form-txt p {
    color: var(--light-black);
    font-size: 16px;
}

.form .form-details {
    flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
    padding: 15px 20px;
    color: var(--dark-teal);
    outline: none;
    border: 1px solid var(--primary-l1);
    margin: 35px 15px;
    font-size: 14px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--dark-teal);
    outline: none;
    border: 1px solid var(--primary-l3);
    font-size: 14px;
    resize: none;
}

.form .form-details button {
    padding: 15px 25px;
    color: var(--primary-l1);
    font-weight: 500;
    background: var(--dark-teal);
    outline: none;
    border: 1px solid var(--primary-l1);
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
    }
    .form .form-details button {
        margin-left: 0;
    }
    .form .form-details input[type="text"],
    .form .form-details input[type="email"],
    .form .form-details textarea {
        width: 100%;
        margin-left: 0;
    }
    .form .form-details input[type="text"] {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .abt-mob{
        padding-left: 0px !important;
    }
    .set-box-row{
        margin-top: 0px !important;
    }
    .set-box-col{
        margin-left: 0px !important;
    }
    .skill-box{
        display: flex !important;
        flex-direction: column;
    }
    .circles{
        display: none;
    }
    .Intro-box{
        background-color: var(--dark-teal);
        /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
        box-shadow:5px 5px 25px var(--primary-l2) ;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 20px !important;
        padding-right: 20px !important;
    
  }
  .Intro-box h1{
    font-size:60px;
}
.Intro-box p{
    font-size:24px;
}
  .Intro-box img{
    height:290px;
    width: 250px;
    border: 5px solid whitesmoke;
}
.About-me{
    display: flex;
    flex-direction: column-reverse;
    color: whitesmoke;
    font-size: 20px;
    padding-left:0px !important;
    padding-right:0px !important;
}
.About-me > div:nth-child(2){
    padding-left: 0px !important;
}


.About-me img{
    width:260px;
    height:260px;
}
.dropdown{
    width: 90% !important;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
}